<h1 class="expe-title" id="expe">Profesional Experience </h1>

<div class="expe-cards">


<!-- card 01 -->
<div class="card m-4 p-3">
    <div class="row g-0">
        <div class="col-md-3">
            <img
              src="../../../../assets/images/image1.jpg"
              alt="JSPM"
              class="img-fluid rounded-start project-img"
            />
            <!--  -->
            <div>
              <p class="card-text mt-4 mb-1">
                <small class="text-muted"> <img class="location-img" src="../../../../assets/images/map-pin.svg" alt=""> Pune</small>
              </p>
              <a target="_blank" href="https://jspmbspoly.edu.in/" class="card-link">view website</a>
            </div>
            <!--  -->
          </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">JSPM Group</h3>
          <p class="card-text">
            <small class="text-muted">Lecturer and Technical  Assistant [Mar 2024]</small>
          </p>
          <div class="card-text">
            As a Lecturer and Technical Assistant at JSPM Group, I am actively involved in shaping the next generation of tech professionals while also providing crucial technical support within the institution. Here's an overview of my responsibilities and accomplishments in this role:
<br>
 <b>Lecturer Responsibilities:</b>
<br>
<ul>
  <li>Conducting engaging lectures and workshops on various topics related to web development, programming languages, and software engineering.</li>
  <li>Developing comprehensive course materials, including syllabi, lecture notes, and assignments, to ensure students receive a well-rounded education.</li>
  <li>Providing personalized guidance and mentorship to students, assisting them in understanding complex concepts and solving problems effectively.</li>
  <li>Collaborating with fellow educators to continuously enhance the curriculum and incorporate the latest industry trends and technologies.</li>
  <li>Evaluating student performance through assessments, projects, and exams, and providing constructive feedback to foster their growth and development.</li>
</ul>

<b>Technical Assistant Responsibilities:</b>
<ul>
  <li>Offering technical support to faculty members and students, troubleshooting issues related to software, hardware, and network connectivity.</li>
  <li>Managing and maintaining computer labs, ensuring all equipment is in optimal working condition and software installations are up to date.</li>
  <li>Assisting in the implementation of new technologies and tools to streamline educational processes and enhance learning outcomes.
    Serving as a liaison between the academic and technical departments, facilitating communication and collaboration to address IT-related challenges effectively.</li>
    
</ul>

In my role at JSPM Group, I am committed to empowering students with the knowledge and skills they need to succeed in the rapidly evolving field of technology, while also providing invaluable technical assistance to support the institution's educational mission.
          </div>
         
      </div>
      </div>
    </div>
</div>


<!-- Card 02 -->
<div class="card m-4 p-3 ">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Neosoft Technologies</h3>
          <p class="card-text">
            <small class="text-muted">Mean Stack Developer [sept 2023- Jan 2024]</small>
          </p>
          <div class="card-text">
            As a MEAN Stack Developer at Neosoft Technologies, I contributed to the development of cutting-edge software solutions leveraging the MEAN stack (MongoDB, Express.js, AngularJS, Node.js). Here's an overview of my responsibilities and accomplishments in this role:
<br>
<b>Frontend Development:</b>
<br>
<ul>
  <li>Designed and developed user-friendly interfaces using AngularJS framework, ensuring seamless navigation and intuitive user experience.</li>
  <li>Implemented responsive design principles to optimize applications for various devices and screen sizes, enhancing accessibility and usability.</li>
  <li>Collaborated closely with UI/UX designers to translate wireframes and mockups into interactive web applications, maintaining consistency with brand guidelines.</li>
</ul>
<b>Backend Development:</b>
<br>
<ul>
  <li>Built robust APIs and backend services using Node.js and Express.js, facilitating data exchange between the server and client-side applications.</li>
  <li>Implemented authentication and authorization mechanisms to ensure data security and user privacy, incorporating best practices such as JWT (JSON Web Tokens) for token-based authentication.</li>
  <li>Optimized database queries and schema design in MongoDB to improve application performance and scalability, handling large volumes of data efficiently.</li>
</ul>

<b>Software Development Lifecycle:</b>
<ul>
  <li>Participated in Agile development methodologies, including sprint planning, daily stand-ups, and sprint retrospectives, to deliver high-quality software solutions within tight deadlines.</li>
  <li>Engaged in code reviews and collaborated with senior developers to adhere to coding standards and best practices, ensuring code quality and maintainability.</li>
  <li>Actively contributed to the documentation of technical specifications, system architecture, and deployment procedures, enabling smooth knowledge transfer and onboarding of new team members.</li>
</ul>



During my tenure at Neosoft Technologies, I gained valuable hands-on experience in MEAN stack development and honed my skills in frontend and backend technologies, contributing to the success of diverse projects and enhancing my proficiency as a software developer.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img
          src="../../../../assets/images/image2.jpg"
          alt="TNeoSoft"
          class="img-fluid rounded-start project-img"
        />
        <div class="mt-4 ">
          <p class="card-text mb-1">
            <small class="text-muted"> <img class="location-img" src="../../../../assets/images/map-pin.svg" alt=""> Pune</small>
          </p>
          <a target="_blank" href="https://www.neosofttech.com/" class="card-link">visit website</a>
        </div>
      </div>
    </div>
</div>


<!-- card 03 -->
<div class="card m-4 p-3 ">
    <div class="row g-0">
        <div class="col-md-3">
            <img
              src="../../../../assets/images/image3.jpg"
              alt="FUEL"
              class="img-fluid rounded-start project-img"
            />
            <div class="mt-4">
              <p class="card-text mb-1">
              <small class="text-muted"> <img class="location-img" src="../../../../assets/images/map-pin.svg" alt=""> Pune</small>
            </p>
            <a target="_blank" href="https://fuelfornation.com/" class="card-link">visit website</a></div>
          </div>
          
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">FUEL Organization</h3>
          <p class="card-text">
            <small class="text-muted">Intern [Aug 2022- sept 2022]</small>
          </p>
          <div class="card-text">
            During my internship at FUEL Organization, I engaged in a variety of tasks that provided me with a well-rounded experience in web development and project management. Here's an overview of my responsibilities and contributions during this experience:
<br>
          <b>  Web Development Contributions:</b>
            <br>
            <ul>
              <li>Utilized HTML and CSS to contribute to the development of front-end components and layouts for various projects.</li>
              <li> Collaborated with team members to integrate design assets and ensure consistent visual branding across web pages.</li>
              <li>Implemented responsive design principles to optimize user experience across different devices and screen sizes.</li>
            </ul>
            
           <b> Project Support and Coordination:</b>
           <ul>
            <li>Assisted project managers in organizing meetings, documenting project progress, and coordinating logistical aspects of events and workshops.</li>
            <li>Provided administrative support by maintaining project documentation, managing communications with stakeholders, and assisting with scheduling and planning.</li>
            <li>Contributed to brainstorming sessions and discussions, offering insights and ideas to enhance project outcomes.</li>
           </ul>
            
            
            
            
            My internship at FUEL Organization allowed me to gain practical experience in web development while also honing my project management and teamwork skills. It was a valuable opportunity that provided me with a holistic understanding of the dynamics involved in web development projects.
          </div>
          
        </div>
      </div>

      
    </div>
</div>


</div>
