<h1 class="about-title" id="about">About</h1>
<div>
   <!--  -->

   <div class="about-card ">
    <div class="about-content">
      <div class="about-image">
        <img src="../../../../assets/images/Sayali-aboutme.jpg" alt="Your Name">
      </div>
      <div class="about-details">
        <h2>About Me</h2>
        <p>Hello! I'm Sayali Ambekar, a dedicated and passionate Software Developer with expertise in the MEAN stack. My journey in software development has been driven by a love for creating robust, scalable applications and solving complex problems. With a strong foundation in both front-end and back-end technologies, I bring a holistic approach to building full-stack applications.</p>
        <p>
            I am constantly learning and staying updated with the latest industry trends and technologies. Whether working independently or as part of a team, I strive to create applications that are not only functional but also user-friendly and visually appealing.
          </p>
        <h3>Education</h3>
        <ul>
          <li>
            <strong>Bachelor of Engineering (Computer Engineering)</strong><br>
            Savitribai Phule Pune University, 2018 - 2022 
            [9.11 CGPA]
          </li>
          <li>
            <strong>HSC</strong><br>
            Maharashtra State Board of Secondary and Higher Secondary Education, 2016 - 2018 
            [68.80%]
          </li>
          <li>
            <strong>SSC</strong><br>
            Maharashtra State Board of Secondary and Higher Secondary Education, 2015 - 2016 
            [86.30%]
          </li>
        </ul>
      </div>
    </div>
  </div>
  
   <!--  -->
</div>




<!-- <div class="about-container">
    <h2>About Me</h2>
    <p>
      Hello! I'm a passionate and dedicated Software Developer specializing in the MEAN stack. With a strong background in building dynamic, scalable web applications, I bring a wealth of experience in MongoDB, Express.js, Angular, and Node.js to every project I undertake. My goal is to leverage my technical skills and creativity to develop solutions that not only meet but exceed client expectations.
    </p>
    <p>
      Over the years, I've worked on a variety of projects, ranging from e-commerce platforms and real-time chat applications to online learning management systems and machine learning-based roommate matching platforms. My expertise in frontend and backend development, coupled with my commitment to delivering high-quality code, ensures that I can tackle complex challenges and deliver robust solutions.
    </p>
    <p>
      I am constantly learning and staying updated with the latest industry trends and technologies. Whether working independently or as part of a team, I strive to create applications that are not only functional but also user-friendly and visually appealing.
    </p>
    <p>
      When I'm not coding, you can find me exploring new technologies, contributing to open-source projects, or enjoying a good book. I look forward to collaborating with you and bringing your ideas to life!
    </p>
  </div> -->