<h1 class="contact-title" id="contact">Contact</h1>
<div>
    <div class="contact-card mb-4">
        <h2>Contact Me</h2>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/sayali-ambekar-777bab207" target="_blank">
            <img src="../../../../assets/images/linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/sayaliambekar30" target="_blank">
            <img src="../../../../assets/images/github.png" alt="GitHub">
          </a>
          <a href="https://leetcode.com/u/sayaliambekar/" target="_blank">
            <img src="../../../../assets/images/leetcode.png" alt="Leetcode">
          </a>
          <a href="https://www.hackerrank.com/profile/sayaliambekar30" target="_blank">
            <img src="../../../../assets/images/hackerrank.png" alt="Hakerrank">
          </a>
          <a href="mailto:devsayaliambekar@gmail.com" target="_blank">
            <img src="../../../../assets/images/email.png" alt="Email">
          </a>
        </div>
      </div>
</div>
