<div class="header bg-blue d-flex justify-content-between">
    <h2 class="title-link">
        <a href="#">SAYALI</a>
    </h2>

    <!-- <div class="logo">
        img
    </div> -->
   


    <!-- <div class="logo">
    <a [routerLink]="['/#']"><img class="logo-img" src="../../../../assets/images/logo.png" alt=""logo></a>
</div> -->
    <div class="d-flex justify-content-between">
        <ul class="menu ml-auto ">
            <li class="title-link" >
                <a (click)="scrollToExpe()">Experience</a>
            </li>
            <li class="title-link" >
                <a (click)="scrollToProjects()">Projects</a>  
            </li>
            <li class="title-link" >
                <a (click)="scrollToAbout()">About</a>
            </li>
            <li class="title-link" >
                <a (click)="scrollToContact()">Contact</a>
            </li>
        </ul>
    </div>
</div>