.project-img{
    height: 450px;
}

.project-title{
    margin-top: 1px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    background-color: rgba(0,1,83,255);
    height: 70px;

}
.project-cards{
    display: flex;
    flex-direction:column-reverse; 
    align-items: center;

}