
<h1 class="project-title" id="projects">Projects</h1>
<div class="p-3 mb-0 pb-0"><h5>&nbsp; &nbsp; &nbsp; As a dedicated MEAN stack developer, I am proud to showcase my portfolio, which includes a diverse range of projects such as a dynamic CV Builder application, an interactive Blog App, a comprehensive E-commerce Platform, a real-time Chat Application, and a robust Project Management Tool. Each project leverages the powerful combination of MongoDB, Express.js, Angular, and Node.js to deliver seamless and engaging user experiences, demonstrating my ability to create efficient, scalable, and user-centric web applications.</h5></div>
<div class="project-cards">



<!-- Card 05 -->
  <div class="card m-4 p-3" >
    <div class="row g-0">      
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Project: The Roomie</h3>
          <p class="card-text">
            <!--  -->            
           <b> Team Size: </b> 4 <br>
           <b> Duration: </b> 9 Months <br> <br>
            
            "The Roomie" is a machine learning-based web application designed to help users find the perfect roommate match. Leveraging advanced algorithms, the application ensures compatibility and convenience for users seeking shared accommodation. <br><br>
            
           <b> Key Features: </b> <br>
            
           <b> User Registration and Profile Creation: </b>Secure registration process with detailed profile creation to capture user preferences and lifestyle habits. <br>
           <b> Machine Learning Matching:</b> Utilizes machine learning algorithms to analyze user data and find compatible roommates based on preferences, interests, and lifestyle choices. <br>
           <b> Search and Filter: </b> Users can search for potential roommates using various filters such as location, budget, and other preferences. <br>
          <b> Messaging System: </b> Integrated messaging system to facilitate communication between matched users. <br>
           <b> User Authentication: </b> Ensured secure authentication and authorization using JWT. <br> <br>

           <b> Technologies Used: </b> <br>
            
           <b> Frontend: </b> Angular 15, HTML5, CSS3, Material Design <br>
           <b>Backend: </b>  Node.js, ExpressJS <br>
           <b> Database: </b> MongoDB <br>
           <b> Machine Learning: </b> Python (for developing ML models) <br>
           <b> Other Tools: </b> JWT for authentication, Git for version control <br> <br>
          
          <b> Skills: </b> <br>  
          <table>
            <tr>
              <td class="p-1"><li>Angular 15</li></td>
              <td class="p-1"><li> Node.js</li></td>
            </tr>
            <tr>
              <td class="p-1"><li>ExpressJS</li></td>
              <td class="p-1"><li> MongoDB</li></td>
            </tr>
            <tr>
              <td class="p-1"><li>Machine Learning (Python)</li></td>
              <td class="p-1"><li>JWT Authentication</li></td>
            </tr>
            <tr>
              <td class="p-1"><li>Material Design</li></td>
              <td class="p-1"><li>TypeScript</li></td>
            </tr>
            <tr>
              <td class="p-1"><li> JavaScript</li></td>
              <td class="p-1"><li> HTML5</li></td>
            </tr>
            <tr>
              <td class="p-1"><li> CSS3</li></td>
            </tr>
          </table>  <br>           
           
          <b>  My Role: </b> <br>
            In this project, I was responsible for: <br>
            
           <b> Machine Learning Integration: </b> Developing and integrating machine learning algorithms to match users based on compatibility. <br>
           <b> API Development: </b> Creating RESTful APIs to handle user data and facilitate communication between the frontend and backend. <br>
           <b> UI/UX Design: </b> Designing intuitive and responsive user interfaces using Angular, HTML5, CSS3, and Material Design principles. <br>
          <b> User Authentication: </b>  Implementing secure authentication and authorization using JWT. <br>
          <b>  Data Management: </b> Ensuring efficient data storage and retrieval with MongoDB, maintaining data integrity. <br><br>
            This project showcases my ability to integrate machine learning with web development to create intelligent and user-friendly applications. I am dedicated to delivering high-quality code and continuously enhancing my skills to keep up with industry advancements. Whether you need a comprehensive web solution or specific feature development, I am ready to bring your ideas to life.
            
            
            <!--  -->
          <!-- </p> -->
        </div>
      </div>
      <div class="col-md-3">
        <img
          src="../../../../assets/images/project1.jpg"
          alt="The Roomie"
          class="img-fluid rounded-start project-img"
        />
      </div>
    </div>
  </div>

<!-- Card 04 -->
  <div class="card m-4 p-3">
    <div class="row g-0">
      <div class="col-md-3">
        <img
          src="../../../../assets/images/project2.jpg"
          alt="Pizza Delivery System"
          class="img-fluid rounded-start project-img"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Project: Pizza Delivery System</h3>
          <p class="card-text">
           <!--  -->           
           <b>Team Size:</b> 2 <br>
          <b> Duration: </b> 1 Year 9 Months <br><br>           
           This online pizza delivery application allows users to conveniently order a variety of pizzas and make payments using Razorpay. The application is designed to provide a seamless user experience, from registration to order completion. <br><br>           
          <b> Key Features: </b> <br>           
           <b>User Registration and Login:</b> Secure registration and login system for users. <br>
           <b>Admin Registration and Login:</b> Separate registration and login for administrators. <br>
           <b>User Authentication: </b> Robust authentication mechanisms to ensure user data security. <br>
          <b> Search Filters:</b> Advanced filtering options to help users find their desired pizzas easily. <br>
           <b>Add to Cart Functionality:</b> Smooth cart management for adding and managing pizza orders. <br><br>


          <b>Technologies Used: </b> <br>           
          <b> Frontend:</b> Angular 15, HTML, Bootstrap, CSS <br>
          <b> Backend: </b> Node.js, ExpressJS <br>
          <b> Database: </b> MongoDB <br>
          <b>Other Tools: </b>  Material UI <br><br>
          <b> Skills: </b>
          <table>
            <tr>
              <td  class="p-1"><li>MongoDB </li></td>  &nbsp;&nbsp;
              <td  class="p-1"><li>Node.js</li> </td>        
              </tr>
            
            <tr>
            <td  class="p-1"><li>ExpressJS </li></td> &nbsp;
           <td  class="p-1"> <li>Angular 15</li></td>
            
          </tr>
          <tr>
           <td  class="p-1"><li> Bootstrap</li> </td>  &nbsp;
            <td  class="p-1"><li>TypeScript</li> </td>
          </tr> 
            <tr>
              <td  class="p-1"><li>JavaScript</li></td> &nbsp;
           <td  class="p-1"><li> HTML</li> </td> 
          </tr>
            <td  class="p-1"><li>CSS</li> </td> &nbsp;
           <td  class="p-1"><li>Material UI</li></td> 
          </table>  <br>            
          <b> My Role: </b><br>
           In this project, I worked on developing key functionalities, including: <br>
           
          <b> User and Admin Authentication: </b> Implemented secure authentication systems for both users and administrators. <br>
          <b> Payment Integration: </b> Integrated Razorpay for smooth and secure payment processing. <br>
          <b> Search and Cart Features: </b> Developed advanced search filters and efficient add-to-cart functionality. <br> <br>
           This project highlights my ability to build user-friendly and secure web applications. I am committed to delivering high-quality code and continuously improving my skill set to stay current with industry advancements. Whether you need a comprehensive web application or specific feature development, I am here to help turn your vision into reality.
           
           
           <!--  -->
          
        </div>
      </div>
    </div>
  </div>

<!-- card 03 -->
  <div class="card m-4 p-3">
    <div class="row g-0">     
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Project: CV Builder Application</h3>
          <p class="card-text">
            <!--  -->
            
           <b> Team Size: </b> 6 <br>
           <b>Duration: </b> 3 Months <br><br>
            
            This CV Builder application offers users a streamlined and intuitive platform to create professional CVs effortlessly. Designed with a stepper form interface, it simplifies the process by guiding users through each section of the CV, ensuring a comprehensive and polished final product. <br><br>
            
           <b> Key Features: </b><br>
            
            <b>Stepper Form: </b> Users can input personal details, educational background, work experience, and skills in a structured manner. <br>
            <b>Real-Time Preview: </b> Allows users to preview their CVs and make adjustments before finalizing. <br>
           <b>Downloadable Formats: </b> Generates CVs in both PDF and DOCX formats for user convenience. <br>
            <b>Form Validation: </b> Ensures all entered data is accurate and complete. <br><br>
          
          <b>  Technologies Used: </b><br>
            
          <b>  Frontend: </b> Angular, HTML5, CSS3, Angular Material <br>
           <b>Backend: </b> Node.js, Express.js <br>
           <b> Database: </b> MongoDB <br>
          <b> Other Tools: </b>  PDF and DOCX generation libraries, REST APIs, Git for version control <br><br>

          <b> Skills: </b> <br>            
          <table>
            <tr>
              <td class="p-1"><li>Angular</li></td>
              <td class="p-1"><li> Node.js</li></td>
            </tr>
            <tr>
              <td class="p-1"><li> Express.js</li></td>
              <td class="p-1"><li>MongoDB</li></td>
            </tr>
            <tr>
              <td class="p-1"><li>REST APIs</li></td>
              <td class="p-1"><li> Angular Material</li></td>
            </tr>
            <tr>
              <td class="p-1"><li>TypeScript</li></td>
              <td class="p-1"><li>JavaScript</li></td>
            </tr>
            <tr>
              <td class="p-1"><li>HTML5</li></td>
              <td class="p-1"><li>CSS3</li></td>
            </tr>
          </table>   <br>
                                
           <b> My Role: </b><br>
            
          <b>  Frontend Development: </b>Designed and implemented the stepper form interface using Angular, ensuring a smooth user experience. <br>
          <b>  API Development: </b> Developed RESTful APIs for seamless communication between the frontend and backend. <br>
          <b> Data Management: </b>  Utilized MongoDB for efficient storage and retrieval of user data, ensuring data integrity and security. <br>
          <b>  Download Functionality: </b> Implemented features to generate and download CVs in PDF and DOCX formats. <br>
          <b> Testing: </b>  Conducted thorough unit and integration testing to ensure application stability and functionality. <br><br>
            This project showcases my expertise in the MEAN stack and my ability to create user-friendly, high-quality web applications. It reflects my commitment to delivering robust solutions and continuously enhancing my skills to meet evolving industry standards. Whether you need a complete web solution or specific feature development, I am equipped to bring your vision to life.
            <!--  -->
         
        </div>
      </div>
      <div class="col-md-3">
        <img
          src="../../../../assets/images/project3.jpg"
          alt="CV Builder Application"
          class="img-fluid rounded-start project-img"
        />
      </div>
    </div>
  </div>

<!-- card 02 -->
    <div class="card m-4 p-3">
      <div class="row g-0">
        <div class="col-md-3">
          <img
            src="../../../../assets/images/project4.jpg"
            alt="Blog App"
            class="img-fluid rounded-start project-img"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"> Project: Blog App</h3>
            <p class="card-text">
              <!--  -->
             
             <b> Team Size: </b> 3 <br>
             <b> Duration: </b> 4 Months <br> <br>
              
              This online blog creation platform allows users to create and manage their blogs with ease. The application supports various features to enhance the user experience, including text highlighting and image embedding. <br> <br>
              
             <b> Key Features: </b><br>
              
             <b> Blog Creation: </b>Users can create and edit blogs with text formatting and image addition. <br>
             <b> WYSIWYG Editor: </b>Integrated CKEditor for a rich text editing experience with save and preview functionality. <br>
             <b> RESTful APIs: </b>Developed APIs for task creation, assignment, and status updates to ensure seamless data flow between the frontend and backend. <br>
             <b>Responsive UI:</b>  Designed intuitive and responsive user interfaces using Angular, HTML5, CSS3, and Material Design principles. <br>
             <b> Data Management: </b>Utilized MongoDB for efficient storage and retrieval of task data, ensuring data integrity. <br>
              <b>Testing: </b> Conducted unit tests and integration tests to ensure application stability and functionality. <br><br>
             <b> Technologies Used: </b><br>
              
             <b> Frontend: </b> Angular 15, HTML5, CSS3, Material Design <br>
             <b> Backend: </b> Node.js, ExpressJS <br>
             <b> Database: </b> MongoDB <br>
             <b> Other Tools: </b> CKEditor, REST APIs, Git for version control <br><br>

            <b>  Skills: </b>   
            <table>
              <tr>
                <td class="p-1"><li>Angular 15</li></td>
                <td class="p-1"><li> Node.js</li></td>
              </tr>
              <tr>
                <td class="p-1"><li>ExpressJS</li></td>
                <td class="p-1"><li> MongoDB</li></td>
              </tr>
              <tr>
                <td class="p-1"><li>CKEditor</li></td>
                <td class="p-1"><li>REST APIs</li></td>
              </tr>
              <tr>
                <td class="p-1"><li>Material Design</li></td>
                <td class="p-1"><li>TypeScript</li></td>
              </tr>
              <tr>
                <td class="p-1"><li>JavaScript</li></td>
                <td class="p-1"><li>HTML5</li></td>
              </tr>
              <tr>
                <td class="p-1"><li>CSS3</li></td>
                
              </tr>
            </table>     <br> 
                           
             <b>My Role: </b> <br>
              In this project, I was responsible for: <br>
              
            <b> WYSIWYG Editor Integration: </b>  Implementing CKEditor to provide users with advanced text editing capabilities. <br>
            <b> API Development:</b>  Designing and developing RESTful APIs for task management, ensuring efficient communication between the frontend and backend. <br>
             <b>UI/UX Design: </b>  Creating responsive and user-friendly interfaces using Angular, HTML5, CSS3, and Material Design principles. <br>
            <b>  Data Management: </b> Ensuring efficient data storage and retrieval with MongoDB, maintaining data integrity. <br>
             <b> Testing: </b>Conducting thorough unit and integration testing to identify and resolve issues, ensuring the application’s stability. <br><br>
              This project highlights my ability to develop comprehensive web applications that are both functional and user-friendly. I am dedicated to producing high-quality code and continuously improving my skill set to stay current with industry trends. Whether you need a complete web solution or specific feature development, I am here to help bring your vision to life.
              
              
              <!--  -->
            <!-- </p> -->
            
          </div>
        </div>
      </div>
    </div>

<!-- card 01 -->
<div class="card m-4 p-3">
    <div class="row g-0">     
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Project: Auction Management System</h3>
          <p class="card-text">
            <!--  -->
            
           <b> Team Size: </b> 6 <br>
           <b>Duration: </b>1 Year 11 Months  <br><br>
            
            This web-based application, tailored for the finance domain, enables users to participate in live auctions and make purchases globally. The platform offers an interactive and seamless experience for users, allowing them to bid on products in real-time and buy items available for direct purchase. <br><br>
            
           <b> Key Features: </b><br>
            
           <b>Live Auctions:</b>  Users can participate in live auctions by paying a deposit for specific items. <br>
           <b> Direct Purchase: </b> Users have the option to directly purchase products available on the platform. <br>
           <b>Supplier Management: </b> Efficient management of suppliers and their inventory. <br>
           <b> Asset Management: </b> Comprehensive management of assets available for auction and direct sale. <br><br>
           
           <b>My Role: </b><br>
            In this project, I contributed to: <br>
            
           <b> Homescreen Management: </b> Designing and developing the user-friendly homepage. <br>
           <b> Deposit Payment Integration: </b> Implementing secure deposit payment systems for auction participation. <br>
           <b> Direct Sale Processing: </b> Ensuring smooth transactions for direct purchases. <br>
           <b>Supplier and Asset Management:</b>  Developing features to manage suppliers and their assets effectively. <br><br>
           
           
           
           <b>Technologies Used: </b> <br>
            
           <b>Frontend: </b>  Angular 15, HTML, CSS, TypeScript <br>
           <b>Backend: </b>  Node.js, ExpressJS <br>
           <b>Database: </b> MongoDB, PostgreSQL <br>
           <b> Other Tools: </b> JIRA, REST, JWT, GitLab <br><br>
            This project showcases my ability to handle complex requirements and deliver robust solutions. I am committed to producing high-quality code and continuously enhancing my skills to meet evolving industry standards. Whether you need a full-scale web application or specific enhancements, I am ready to help bring your ideas to life.

            <!--  -->
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <img
          src="../../../../assets/images/project5.jpg"
          alt="Auction Management System"
          class="img-fluid rounded-start project-img"
        />
      </div>
    </div>
</div>









  


  
</div>